:root {
    --primary-color: #30b1ed;
    --second-color: #170202;
    --black-color: #000000;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.affichage {
    margin: 20px;
}

h2 {
    text-align: center;
    color: var(--primary-color);
}

.table-wrapper {
    overflow-x: auto;
}

.fl-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.fl-table th, .fl-table td {
    padding: 12px 15px;
    text-align: left;
}

.fl-table th {
    background-color: var(--primary-color);
    color: #ffffff;
}

.fl-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.fl-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.fl-table tbody tr:hover {
    background-color: #f1f1f1;
}

.fl-table tbody td img {
    width: 20px;
    height: 20px;
}

.fl-table tbody tr td form button {
    background: none;
    border: none;
    cursor: pointer;
}

.fl-table tbody tr td form button img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 600px) {
    .fl-table tbody td form button img {
        width: 16px;
        height: 16px;
    }

    .fl-table thead {
        display: none;
    }

    .fl-table, .fl-table tbody, .fl-table tr, .fl-table td {
        display: block;
        width: 100%;
    }

    .fl-table tr {
        margin-bottom: 15px;
    }

    .fl-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .fl-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}
